/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.min.css";

.snackbar-error {
  background-color: #f44336; /* Red background for errors */
  color: white;
}

.snackbar-success {
  background-color: rgba(5, 168, 5, 0.8); /* Red background for errors */
  color: white;
}
